.container{
  text-align: center;
  width: 350px;
}
.value{
  margin: 30px auto;
  font-size: 30px;
  letter-spacing: 10px;
  display: flex;
  list-style:none;
  padding: 0;
  justify-content: flex-start;
}
.btn{
  display: flex;
  list-style:none;
  padding: 0;
  justify-content: space-between;
}
.btn-item{
  width: 100px;
  border: 1px solid #000;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.disabled{
  opacity: 0.2;
  transition: 0.2s;
  pointer-events: none;
}
.btn-item:hover {
  opacity: 0.5;
}